body {
    margin: 0;
    font-family: "Poppins", sans-serif;
    background-color: #FFF2EF; 
}

.navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color:#1A2A4F;
    overflow: hidden;
}

.navbar li {
    float: left;
}

.navbar li a {
    display: block;
    padding: 16px 20px;
    text-decoration: none;
    color: #FFF2EF;
    font-weight: 600;
    transition: 0.3s;
}

.navbar li a:hover {
    background-color: #850E35;
    color: #FFF2EF;
}

.navbar a[href*="index.html"] {
    background-color: #850E35;
    color: #FFF2EF;
}

.banner {
    width: 90%;
    height: 260px;
    margin: 20px auto;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

.banner img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.home {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.text {
    background: #FFDBB6;
    width: 75%;
    padding: 30px;
    border-radius: 15px;
    border: 3px solid #1A2A4F;
    text-align: center;
    box-shadow: 0px 6px 14px rgba(0,0,0,0.1);
    transition: 0.25s;
}

.text:hover {
    transform: scale(1.01);
}

.text h1 {
    font-size: 45px;
    color: #850E35;
    font-weight: 700;
    margin-bottom: 10px;
}

.text h2 {
    color: #1A2A4F;
    font-weight: 600;
}

.text p {
    font-size: 18px;
    line-height: 1.7;
    color: #1A2A4F;
    max-width: 700px;
    margin: auto;
}

@media(max-width:768px) {

    .banner {
        height: 180px;
    }

    .text {
        width: 90%;
        padding: 20px;
    }

    .text h1 {
        font-size: 32px;
    }

    .text p {
        font-size: 15px;
    }
.navbar a[href*="tentangkami.html"] {
    background-color: #850E35;
    color: #FFF2EF;
}
}