body {
    margin: 0;
    font-family: "Poppins", sans-serif;
    background-color: #FFF2EF; 
}

.navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color:#1A2A4F; 
    overflow: hidden;
}

.navbar li {
    float: left;
}

.navbar li a {
    display: block;
    padding: 16px 20px;
    text-decoration: none;
    color: #FFF2EF;
    font-weight: 600;
    transition: 0.3s ease;
}

.navbar li a:hover,
.navbar li a.active {
    background-color: #850E35; 
    color: #1A2A4F;
    transform: scale(1.03);
}

.profile-container {
    text-align: center;
    margin-top: 40px;
}

.profile-container img {
    width: 180px;
    height: 180px;
    border-radius: 50%;
    object-fit: cover;
    border: 4px solid #1A2A4F;
}

.name {
    font-size: 28px;
    font-weight: 700;
    color: #850E35;
    margin-top: 10px;
}

.class-info {
    font-size: 18px;
    font-weight: 600;
    color: #1A2A4F;
}

.bio {
    background: #FFDBB6;
    border: 3px solid #1A2A4F;
    width: 400px;
    margin: 20px auto;
    padding: 20px;
    border-radius: 15px;
}

.bio ul {
    list-style: none;
    padding: 0;
    text-align: left;
}

.bio li {
    margin: 10px 0;
    font-size: 16px;
}

.bio:hover {
    transform: scale(1.02);
    transition: 0.3s;
    box-shadow: 0px 6px 14px rgba(0,0,0,0.15);
}

@media (max-width: 768px) {
    .bio {
        width: 90%;
    }
}


.banner {
    width: 100%;
    height: 250px;
    background: url('anja') no-repeat center center;
    background-size: cover;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    margin: 20px 0;
}

.banner h2 {
    color: #FFF2EF;
    font-size: 32px;
    text-align: center;
    background-color: rgba(26, 42, 79, 0.5);
    padding: 10px 20px;
    border-radius: 10px;
}
.navbar a[href*="tentangkami.html"] {
    background-color: #850E35;
    color: #FFF2EF; 
}